body { background: #1368f9; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 17px; display: flex; }
.block-email-0 { color: #760038; font-size: 15px; margin-bottom: 5px; }
.block-shipping-1 { color: #c0c7f0; font-size: 17px; margin-bottom: 5px; }
.block-config-2 { color: #1d84ce; font-size: 18px; margin-bottom: 5px; }
.block-product-3 { color: #5b46a7; font-size: 16px; margin-bottom: 5px; }
.block-cluster-4 { color: #10240d; font-size: 18px; margin-bottom: 5px; }
.block-invoice-5 { color: #b5daa8; font-size: 18px; margin-bottom: 5px; }